
#fl_ul {
  list-style-type: none;
  width: 500px;
}

#fl_ul h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

#fl_ul li img {
  float: left;
  margin: 0 15px 0 0;
}

#fl_ul li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

#fl_ul li {
  padding: 10px;
  overflow: auto;
}

#fl_ul li:hover {
  background: #eee;
  cursor: pointer;
}
