body {
  background-color: #fff;
}
#fr_table {
  margin-bottom: 10px;
  margin: 0;
  padding: 0;
  display: table;
  margin-left: 15%;
  margin-right: 15%;
}

#fr_table #fr_column {
  background-color: #f1f9ff;
  border-collapse: separate;
  height: 450;
  width: 400px;
  margin: 0;
  border-left-width: 10px;
  border-right-width: 10px;
  border-bottom-width: 4px;
  border-top-width: 4px;

  border-color: #fff;
  border-style: solid;
}
