body
{
 text-align:center;
 width:100%;
 margin:0 auto;
 padding:0px;
 font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
 background: #fff8f1;
}
#header_wrapper
{
 width:100%;
 min-width:980px;
 background-color:#fb7826;
 position: fixed;
 height:60px;
 display:flex;
 justify-content: space-around;
 overflow: hidden;
 z-index: 1;
}

input::-webkit-calendar-picker-indicator {
	display: none;
}

/* Page content */
#news_feed
{
	height:100%;
}
#post b
{
	 margin-left:496;
}
#post form input
{
 margin-top:3px;
 margin-bottom:3px;
 width:150px;
 border:1px solid #08298A;
 height:25px;
 padding-left:3px;
 margin-left:515px;
}

#header
{
 margin:0;
 float:auto;
 height: 100%;
 position: relative;
 top: -10%;
 overflow: hidden;
}

#header #sitename {

}


#header li
{
 list-style-type:none;
 float:left;
 color:#ffffff;
}

#header #suggestions li {
  position: relative;
  width: 348px;
  color: #FB7826;
  font-weight: bold;
  background-color: #fff;
  border: 2px solid #fff;
  height: 64;
  border-style: solid;
}


#dropdownList {
  position: fixed;
}

#header #suggestions ul li {
  list-style-type:none;
  float:left;
}

#header #suggestions img {
  position: relative;
  height: 42px;
  width: 42px;
  object-fit: cover;
  border-radius: 50%;
  padding: 0;
  top: -8px;
  float: left;
  left: -32px;
}

#followings_button {
  margin-right: 20px;
}

#feed_button:hover {
  background-color: #D24F00;
}

#followings_button:hover {
  background-color: #D24F00;
}

#questions_button:hover {
  background-color: #D24F00;
}

#projects_button:hover {
  background-color: #D24F00;
}

#connect_button:hover {
  background-color: #D24F00;
}


#header #suggestions p {
  position: relative;
  text-align: left;
}

#header #suggestions #queryRow:hover {
  cursor: pointer;
  background-color: #e1eff7;
  border-color: #e1eff7;
}


#header #suggestions {
  position: relative;
  float: left;
  left: -40px;
  top: 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#header #query-button  {
  font-size: 17px;
  height: 12px;
  width: 20px;
  position: relative;
  top: -1px;
}

#header #notification-bell  {
  font-size: 16px;
}

#header #sign-out-button  {
  font-size: 16px;
}

#header #user-button  {
  text-align: center;
}

#header #user_icon {
  position: relative;
  height: 32px;
  width: 32px;
  object-fit: cover;
  border-radius: 50%;
  padding: 0;
  top: -8px;

}

#header #soltek_icon {
  position: relative;
  height: 74px;
  width: 74px;
  object-fit: cover;
  padding: 0;
  top: -29px;

}


#header li a {
  display: inline-block;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

#header li a {
  display: inline-block;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#header li #sign-out-button:hover
{
  cursor: pointer;
}

li #query-button {
  background-color: #3797fa;
  border-radius: 5%;
  margin: auto;
  font-size: 13px;
}

li #query-button:hover
{
  cursor: pointer;
}

#header #search
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #fff;
  height: 40px;
  margin:0;
  padding: 0;
  font-size: 14px;
  border: 2px solid #fff;
  width: 300px;

}


#header ul li a {
 	text-decoration:none;
 	color:#ffffff;
}

#header ul li a {
 	text-decoration:none;
 	color:#ffffff;
}

#header form
{
 float:right;
}
#header form li a
{
 color:#ffffff;
 text-decoration:none;
}
#header form input[type="text"]
{
 margin-top:3px;
 margin-bottom:3px;
 width:150px;
 border: 1px solid #08298A;
 height:25px;
 padding-left:3px;
}
#header form input[type="password"]
{
 margin-top:3px;
 margin-bottom:3px;
 width:150px;
 border:1px solid #08298A;
 height:25px;
 padding-left:3px;
}

#wrapper
{
 margin:0 auto;
 padding:0px;
 text-align:center;
 width:980px;
}

#wrapper div
{
 float:left;
 font-family: helvetica, arial, sans-serif;
}
#wrapper #div1
{
 margin-top:30px;
 width:590px;
 text-align:left;
}
#wrapper #div1 p
{
 font-size:20px;
 font-family:arial;
 font-weight:bold;
 margin:0px;
 color:#0e385f;
}
#wrapper #div2
{
 margin-top:10px;
 width:390px;
 text-align:left;
}
#wrapper #div2 h1
{
 margin:0px;
 font-size:37px;
 color:#2E2E2E;
}
#wrapper #div2 p
{
 font-size:18px;
 color:#2E2E2E;
}
#wrapper #div2 li
{
 list-style-type:none;
 margin-top:10px;
}
#wrapper #div2 li #firstname
{
 width:49%;
}
#wrapper #div2 li #surname
{
 margin-left:2%;
 width:49%;
}
#wrapper #div2 li input[type="text"]
{
 width:100%;
 height:40px;
 border-radius:5px;
 padding-left:10px;
 font-size:18px;
 border:1px solid #BDBDBD;
}
#wrapper #div2 li input[type="password"]
{
 width:100%;
 height:40px;
 border-radius:5px;
 padding-left:10px;
 font-size:18px;
 border:1px solid #BDBDBD;
}
#wrapper #div2 li select
{
 padding:4px;
 float:left;
}
#wrapper #div2 li a
{
 margin-left:10px;
 width:150px;
 color:#045FB4;
 text-decoration:none;
 font-size:11px;
 display: inline-block;
 vertical-align: middle;
 line-height:15px;
}
#wrapper #div2 li a:hover
{
 text-decoration:underline;
}
#wrapper #div2 li
{
 color:#2E2E2E;
 font-size:18px;
}
#wrapper #div2 #terms
{
 color:#424242;
 font-size:11px;
}
#wrapper #div2 #terms a
{
 display:inline;
 margin:0px;
}
#wrapper #div2 li input[type="submit"]
{
 width:205px;
 height:45px;
 text-align:center;
 font-size:19px;
 margin-top: 10px;
 margin-bottom: 10px;
 font-family: 'Freight Sans Bold', helvetica, arial, sans-serif !important;
 font-weight: bold !important;
 background: linear-gradient(#67ae55, #578843);
 background-color: #69a74e;
 box-shadow: inset 0 1px 1px #a4e388;
 border-color: #3b6e22 #3b6e22 #2c5115;
 border: 1px solid;
 border-radius: 5px;
 color: #fff;
 cursor: pointer;
 display: inline-block;
 position: relative;
 text-shadow: 0 1px 2px rgba(0,0,0,.5);
}
#wrapper #div2 #create_page
{
 color:#424242;
 font-size:13px;
 font-weight:bold;
}
#wrapper #div2 #create_page a
{
 display:inline;
 margin:0px;
 font-size:13px;
}
#footer_wrapper
{
 width:100%;
 clear:both;
 float:left;
 margin-top:30px;
 min-width:995px;
 background-color:white;
 text-align:left;
}
#footer1
{
 width:980px;
 margin:0px auto;
 padding:0px;
 border-bottom:1px solid #E6E6E6;
 height:30px;
 line-height:30px;
 font-size:12px;
 color:#848484;
}
#footer1 a
{
 color:#365899;
 display:inline;
 margin-left:10px;
 text-decoration:none;
}
#footer1 a:hover
{
 text-decoration:underline;
}
#footer2
{
 width:980px;
 margin:0px auto;
 padding:0px;
 font-size:12px;
 color:#848484;
}
#footer2 a
{
 color:#365899;
 display:inline-block;
 margin:5px;
 margin-left:0px;
 min-width:80px;
 text-decoration:none;
}
#footer2 a:hover
{
 text-decoration:underline;
}
