#nf_container {
  position: relative;
  margin-top: 50px;;
  margin-left: 25%;
  z-index: 0;
}
#nf_container #nf_buttons {
  list-style-type: none;
  text-align: left;
  padding: 0;

}

#nf_buttons li {
  display: inline-block;
  margin-top: 75px;
  margin-bottom: 15px;
}
#nf_container #nf_buttons li a {
  color: #FB7826;
  font-size: 15px;
  font-weight: 900;
  padding-right: 16px;
}

#nf_container #nf_buttons #responses {
  padding-right: 284px;
}

#nf_ul {
  list-style-type: none;
  text-align: left;
  padding: 0;
  width: 500px;
}

#news_feed_post {
  border: 1px solid #daeefe;
  box-shadow: 0 0 5px #719ece;
  resize: none;
  float:left;
  width: 500;
  height: 150;
  color: #3498FF;
  margin-bottom: 20px;
  font-style: normal;
}

#news_feed_post::placeholder {
  color: #3498FF;
  font-style: italic;
}


#nf_ul li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

#nf_ul li {
  background-color: #fff;
  padding: 10px;
  overflow: auto;
  color: #3498FF;
  margin-bottom: 20px;
}


#nf_ul p#post-content {
  text-align: left;
  background: #fff;
  padding: 0;
  margin-left: 50;
  white-space: pre-line;
  font-size: 16px;
  word-wrap:break-word;
}

#nf_ul #user_full_name {
  color: #FB7826;
  font-weight: bold;
}

#nf_ul #user_full_name:hover {
  cursor: pointer;
}

#nf_ul li i:hover {
  color: rgba(0,0,255,1);
}

#nf_ul i p {
  display: inline-block;
  padding-left: 5px
}

#nf_ul i p:hover {
  display: inline-block;
  padding-left: 5px
}

#post_button {
  height:25px;
  background-color:#084B8A;
  color:white;
  border:1px solid #08298A;
  position: relative;
  left: 188;
}

#header_list {
  padding: 0;
  list-style-type: none;
  text-align: left;
}

#user-icon {
  max-width: 100%;
  max-height: 100%;
  height: 32px;
  width: 32px;
  object-fit: cover;
  border-radius: 50%;
  padding: 0;
  position: relative;
  top: -8px;
}
#trash {
  float: right;
}

#header_list li {
  float: left;

}

#header_list li a {
}

#share:hover {
  cursor: pointer;
}
